{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            {{#with post}}
            <div class="jumbotron">
                <h4 class="display-6 text-center">{{title}} </h4>

            </div>

            <div id="forum-posts">
                <div class="forum-post-card card text-white bg-primary mb-3">
                    <div class="card-body">

                        <p class="card-text">{{body}}</p>
                        by {{'User.email'}}
                    </div>
                </div>
                {{/with}}
            </div>

            <div>
                <h3>Comments</h3>
            </div>


            <script>
                tinymce.init({
                    selector: '#mytextarea'
                });</script>


            {{#if comments.length }}
            <div class="col-sm">
                {{#each comments}}
                <div class="forum-post-card card text-white bg-primary mb-3">
                    <div class="card-body">
                        <p class="card-text">{{commentText}}</p>
                        by {{'User.email'}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}


            <div class="form-group">
                <form method="post">
                    <textarea id="mytextarea">Write your comment here!</textarea>
                </form>

                <button data-post={{post.id}} id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>




<script>
    $("#submit").click(function (event) {
        event.preventDefault();
        var myText = tinyMCE.activeEditor.getBody().textContent;
        console.log(myText)
        const postId = $(this).attr("data-post");
        const postContent = tinyMCE.activeEditor.getBody().textContent;

        $.ajax({
            type: 'post',
            url: '/api/comments/',
            data: {
                commentText: postContent,
                PostId: postId
            }
        }).then(function (data) {
            console.log("commentsent")
            location.reload();

        })


    });
</script>