{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6 text-center">Welcome {{user.email}}!</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">

            <div id="forum-posts">
                {{#each posts}}
                <div class="forum-post-card card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h4 class="text-white"> <a href="/articles/{{id}}">{{title}}</a></h4>
                    </div>
                    <div class="card-body">

                        <p class="card-text text-center">{{truncated}}</p>
                        <p class="float-right">by {{'User.email'}}</p>


                    </div>
                </div>
                {{/each}}
            </div>
        </div>


    </div>

    <br>


    <fieldset>
        <legend>Create Your Own Post</legend>
        <p>
            Type in your post title and body below, and click submit to send it to our database. We will
            register it with your email address, and display it above with everyone else's posts!</p>
        </p>

        <div class="form-group">
            <h3>Select your content type</h3>
            <input type="radio" id="article" name="articleType" value="article">
            <label for="article">Article</label>

            <input type="radio" id="review" name="articleType" value="review">
            <label for="review">Review</label>

            <br>

            <div id="hide" class="hide">
                <br>

                <label for="rating">Select a rating</label>

                <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <button id="test">test</button>
            </div>

            <br>

            <label for="title-input">Title</label>
            <input type="text" class="form-control" id="title-input" aria-describedby="postHelp"
                placeholder="Enter your post title">
            <small id="postHelp" class="form-text text-muted">This'l be shared!</small>
        </div>

        <div class="form-group">
            <label for="body-input">Body</label>
            <textarea class="form-control" id="body-input" name="body" placeholder="Enter your post body"></textarea>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Post!</button>
    </fieldset>
    <br />
</div>
</div>
</div>

<script>


    $(document).ready(function () {
        let ratingValue = 1;
        let isArticle = true;
        let isReview = false;
        //listen for review radio button to be clicked 
        $("#review").on("change", function (event) {
            console.log("reivew radio button was clicked");
    isArticle = false;
    isReview = true;
            //if ($("#review").is(':checked')) {
              //  console.log("review is checked");
                $("#hide").removeClass("hide");
            //};
        
        });

        $("#article").on("change", function (event) {
            console.log("article radio button was clicked");
    isArticle = true;
    isReview = false;

            //if ($("#article").is(':checked')) {
            //    console.log("article is checked");
                $("#hide").addClass("hide");
            //};

        });

        $("#rating").on("change", function(event){
            event.preventDefault()
            ratingValue = parseInt(($(this).val()));
        })


        //grab elements from post via AJAX
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const imageInput = $("input#image-input");
        const bodyInput = $("textarea#body-input");


        //listen on submit button that grabs the elements in the text areas and submits them 
        $("#submit").click(function (event) {
            event.preventDefault();
            console.log(postForm)
            console.log(titleInput)
            //console.log(imageInput) we can delete this because we are scrabing image uploads 
            console.log(bodyInput)
            let title = titleInput.val().trim();
            let body = bodyInput.val().trim();

            $.ajax({
                method: 'POST',
                url: '/api/posts',
                data: {
                    body: body,
                    title: title,
                    rating: ratingValue,
                    isArticle,
                    isReview,
                }
            }).then(results => {
                console.log('posted');
                 location.reload();
            })

           
        })


    });




</script>